.numbers {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 10em;
	perspective: 200px;
	color: var(--dark-blue);
}
.explanation a {
	display: block;
	width: max-content;
	text-align: center;
	padding: 0.2em 1em;
	outline: 1px solid white;
	margin: 0.3em auto;
	cursor: pointer;
	border-radius: 5px;
}
.explanation a:hover {
	background-color: var(--white);
	color: var(--black);
}

@media (prefers-color-scheme: dark) {
	.numbers {
		color: var(--orange);
	}
}
