@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;600&display=swap');

:root {
	--black: #141414;
	--dark-blue: #14213d;
	--orange: #fca311;
	--light-gray: #b8b8b8;
	--white: #f5f5f5;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Merriweather', serif;
	background-color: var(--white);
	color: var(--black);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-weight: 300;
}
b {
	font-weight: 700;
}

a:visited {
	color: var(--dark-blue);
}

mark {
	background-color: var(--orange);
	color: var(--black);
	padding: 0.1em 0.2em;
	border-radius: 3px;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--black);
		color: var(--white);
	}
	a,
	a:visited {
		color: var(--light-gray);
	}
}
