.container {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 1em;
	position: fixed;
	top: 0;
	background-color: var(--white);
	color: var(--black);
	z-index: 10;
}
.container svg {
	width: 100px;
	height: auto;
	fill: white;
}
.navLinkContainer {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.navLinkContainer a {
	text-decoration: none;
}
@media (prefers-color-scheme: dark) {
	.container {
		background-color: var(--black);
		color: var(--white);
	}
}
