.container {
	min-width: 300px;
	max-width: 75ch;
}
.container h1,
.container h2,
.container h3,
.container h4 {
	text-align: center;
}
.container p {
	padding: 0 1em;
}
.container ul {
	padding: 0 2em;
}
.image {
	display: block;
	max-width: 100%;
	margin: auto;
}
.adminAction {
	cursor: pointer;
	display: flex;
	gap: 1em;
	padding: 0.3em 1em;
	border: 1px solid;
	margin: auto;
	border-radius: 5px;
	max-width: fit-content;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}
.adminAction svg {
	font-size: 1.5em;
}
.adminAction:hover {
	background-color: var(--white);
	color: var(--black);
}
